@model CDSHooks.Models.ServiceViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CDSService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HookId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HookId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefetch) <br/>(Key - Query)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefetch, "PrefetchSummary")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
