@model CDSHooks.Models.ServiceViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CDSService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HookId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefetch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefetch, "PrefetchTable")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
